.entrada-hidden{
    opacity: .0;
    position: relative;
    float: left;
}
.direito{
    float: right;
    top: 25px;
    width: 50%;
}
.esquerdo{
    left: 0;
    top: 25px;
    width: 50%;
}
.bottom{
    left: 0;
    top: 0px;
    width: 100%;
}
.centro img{
    left: 0;
    width: 100%;
}

.x2 select{
    width: 50%;
}
.esquerdo2x{
    left: 0;
}
.bandeja_toda img{
    position: absolute;
}
.tamanhos{
    margin: 40px;
}
.tamanhos img{
    width: 20%;
    height: 20%;
    margin: 0 20px 0 20px
}
form{
    position: relative;
}
#band{
    left: -800px;
}
.checks input {
    position: relative;
    width: 1px;
    margin: 0;
    padding: 0;
}
select.bordas {
    padding: 20px;
    border-radius: 30px;
}

img.pizza {
    width: 60%;
}
.bloco{
    float: left;
}
.bloco_a_direita {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}
.pizzas {
    margin-bottom: 2%;
    border: solid #d67a1c8c 8px;
}
.bebidas .bloco{
    margin: 2%;
    width: 29%;
}
.bebidas .bloco img{
    width: 100%;
}
.pedido {
    padding: 15px;
    display: inline-block;
}
.bt{
    border-radius: 15px;
    width: 30%;
    background-image: linear-gradient(45deg, #dcab13, transparent);
    margin: 1%;
}
.confirm{
    background-image: linear-gradient(45deg, #13dc60, transparent);
}
#opc4{
    width: 100%;
}
.pg {
    float: left;
    width: 30%;
}
.pg input{
    text-align: center;
}
.total_pagar {
    background-color: #0000007a;
    color: white;
    font-weight: bolder;
}
input#desconto {
    border: black solid;
}
.receber {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}