p{
    font-size: 16pt;
    font-weight: bold;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.left{
    float: left;
}
.right{
    float: right;
}
input{
    font-size: 25pt;
    width: 80%;
    height: 60px;
}
textarea{
    width: 80%;
}
.linha{
    height: 100px;
}
.corpo h1{
    margin: 20px 0 20px 0;
}

.bordas{
    border-radius: 30px;
    padding: 20px;
}
figcaption p{
    font-size: 25pt;
}
.sem_margin{
    margin: 0;
}